body {
  margin: 0;
  padding: 0;
  background-color: #cfe2f0;
  box-sizing: border-box;
  font-size: 16px;
}
/* navbar */
.navbar {
  background-color: #cfe2f0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 10px;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  aspect-ratio: 1/1;
  width: 40px;
}

.navbar-logoname {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  text-decoration: none;
  margin-left: 10px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-icon {
  display: none;
  width: 30px;
  height: 30px;
}
.navbar-menu-text {
  display: none;
}
/*Responsive*/
@media only screen and (max-width: 800px) {
  .navbar-menu {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .navbar-menu-text.show {
    display: block;
  }
  ul {
    display: flex;
    width: 100%;
    height: 100%;
    background: #1f74ba;
    top: 80px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  li {
    list-style-type: none;
    margin: 0 5px;
    line-height: 40px;
  }
}
.navbar-mpitem a {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3%;
}
.navbar-mpitem a:hover {
  background: #151a1f;
  transition: 0.5s;
}
/*Responsive End*/

.navbar-item {
  margin-left: 30px;
}

.navbar-item a {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  text-decoration: none;
  border-radius: 10%;
}
.navbar-item:hover {
  background: #94bddf;
  transition: 0.5s;
}
.navbar-icon img {
  width: 30px;
  height: 30px;
}
/* navbarend */
/* searchbar */
/* Style the search bar container */
.search-container {
  justify-content: center;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 10%;
  width: 80%;
}

/* Style the input field */
.search-container input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 2px solid #ccc;
  font-size: 16px;
  background-color: white;
  border-radius: 30px;
}

/* Style the search button */
.search-container button {
  position: absolute;
  right: 0;
  margin: 0px 8px;
  padding: 10px;
  border: none;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
}

/* Add hover effects to the search button */
.search-container button:hover {
  background: transparent;
}
.search-form {
  position: relative;
}
.search-logo {
  height: 30px;
  width: 30px;
}
/* searchbar-end*/
/* ad-slinde */
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  top: 30px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* ad-slide-end */
/* card session  */
.container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
.content {
  display: inline-block;
  width: 200px;
  height: 280px;
  margin-right: 20px;
}
/* card */
.card {
  position: relative;
  width: 200px;
  height: 280px;
  background: #122936;
  border-radius: 20px;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  background: #2196f3;
  transform: skewY(345deg);
  transition: 0.5s;
}
.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}
.card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 8cm;
  color: rgba(0, 0, 0, 0.1);
}
.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  z-index: 1;
}
.card .imgBox img {
  max-width: 100%;
  transition: 0.5s;
}
.card:hover .imgBox img {
  max-width: 50%;
}
.card .contentbox {
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.card .contentbox h3 {
  font-size: 14px;
  color: #ffff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card .contentbox .price {
  font-size: 15px;
  color: #ffff;
  font-weight: 500;
  letter-spacing: 1px;
}
.card .contentbox .buy {
  position: relative;
  top: 200px;
  padding: 10px 30px;
  margin-top: 15px;
  color: #ffff;
  text-decoration: none;
  background: #2196f3;
  border-radius: 30px;
  text-transform: 0.5s;
  letter-spacing: 0.5ms;
  transition: 0.5s;
}
.card:hover .contentbox .buy {
  top: 0;
  opacity: 1;
}
/* card end*/
.main-cont {
  display: flex;
  margin-bottom: 8px;
}
.first-element {
  width: 200px;
  height: 280px;
  margin-left: 2%;
  margin-right: 10px;
}

/* box image code */
.box {
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.box h3 {
  color: #ffffff;
  font-size: 19px;
  position: absolute;
}

.button {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 100%;
  text-decoration: none;
}
.button:hover {
  background-color: #008cba;
  color: white;
}
/* respovive */
@media (max-width: 800px) {
  .container {
    width: 100%;
    height: 300px;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .box h3 {
    color: #ffffff;
    font-size: 19px;
    position: relative;
    top: 40%;
  }

  .button {
    background-color: #fff;
    color: #000;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 100%;
    text-decoration: none;
  }
  .button:hover {
    background-color: #008cba;
    color: white;
  }
}
/* respovive end*/
/* card session end */
/* footer */

#footer {
  padding: 1% 1%;
  text-align: center;
}
#footer p {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: bold;
}
/* respovive */
@media (max-width: 800px) {
  #footer p {
    font-size: 0.8rem !important;
  }
}
/* respovive end */
/* footer */
