body
{
    margin: 0;
    padding: 0;
    background-color: #CFE2F0;
    box-sizing: border-box;
    font-size: 16px;
}
/* navbar */
.navbar {
  background-color: #CFE2F0;

}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 10px;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 40px;
}

.navbar-logoname {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  text-decoration: none;
  margin-left: 10px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-icon{
  display: none;
  font-size: 20px;
}
.navbar-menu-text{
  display: none;
}
/*Responsive*/
@media only screen and (max-width: 600px){
  .navbar-menu{
    display: none;
  }
  .menu-icon{
    display: block;
  }
  .navbar-menu-text.show{
    display: block;
  }
}
/*Responsive End*/

.navbar-item {
  margin-left: 20px;
}

.navbar-item a {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  text-decoration: none;
}
.navbar img{
  width: 30px;
  height: 30px;
}
/* navbarend */